@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<p>Epic 4D LLC, the developer of The Great Bible Race, is a Michigan-based educational video game and e-learning company. The company specializes in question-based video games and uses cutting-edge technology and animation to attract and engage a wide demographic of customers.</p>
<p>Great Bible Race is the world’s largest and most detailed Bible knowledge video game. The game is designed for an intense, exciting and fun Bible experience.</p>
<p>With more than 18,000 questions drawn from every book and chapter of the Bible, the Great Bible Race is a unique Single- and Multi-player video game that combines Bible knowledge with the excitement of the best television game shows. The result is a wholesome activity that will bring the entire family together for hours of spirited fun and Bible study.</p>

<h2>About Quiz</h2>
<p>Epic 4D LLC, the developer of The Great Bible Race, is a Michigan-based educational video game and e-learning company. The company specializes in question-based video games and uses cutting-edge technology and animation to attract and engage a wide demographic of customers.</p>
<p>The Great Bible Race is the world’s largest and most detailed Bible knowledge video game. The game is designed for an intense, exciting and fun Bible experience.</p>
<p>With more than 18,000 questions drawn from every book and chapter of the Bible, the Great Bible Race is a unique Single- and Multi-player video game that combines Bible knowledge with the excitement of the best television game shows. The result is a wholesome activity that will bring the entire family together for hours of spirited fun and Bible study.</p>