@model IEnumerable<eQuiz.ViewModels.QuizInfoViewModel>

@{
    ViewBag.Title = "QuizInfo";
}

<h2>QuizInfo</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead><tr><th>Name</th><th>Correct Answers</th><th>Quiz Time</th></tr></thead>
            <tbody>
                @foreach (var qivm in Model)
                {
                    <tr><td>@qivm.UserFullName</td><td>@qivm.CorrectAnswersCount</td><td>@qivm.QuizTime.Hours:@qivm.QuizTime.Minutes:@qivm.QuizTime.Seconds:@qivm.QuizTime.Milliseconds</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
